@charset "UTF-8";

/*
CS 3312, spring 2019
Studio 8
DON'T CHANGE THIS FILE
*/

/* Fixing the box-sizing attribute will make sizing boxes easier. */
html {
   box-sizing: border-box;
}

/* Normally the * selector is smart to avoid, but for this purpose it's fine. */
*, *:before, *:after {
   box-sizing: inherit;
}

.across1 {
   display: flex;
   justify-content: flex-end;
   flex-direction: row;
   align-items: baseline;

}



.across2 {
   display: flex;
   justify-content: space-around;
   flex-direction: row;
   flex-wrap: wrap-reverse;
}


body {
   background-color: #f2eee3;
   font-family: Spectral;
   color: #785e4d;
}

h1 {
   color: #785e4d;
   text-align: center;
   font-weight: bold;
   font-size: 50px;
}


fieldset {
   border-color: #ff8426;
   border-radius: 10px;
   border-style: solid;
   border-width: 4px;
   box-shadow: 10px 10px 20px black;
}

legend {
   border-color: #ff8426;
   border-style: solid;
   border-width: 2px;
   padding: 0px 5px;
   font-weight: bold;
   font-family: Spectral;
   font-size: 22px;
}

/*Making changes here will update the how to play window*/
#HowToPlay > p {
   font-size: 18px;
   font-weight: bold;
}

#toggles {
   display: flex;
   flex-direction: column;
}

.gameDescription {
   display: flex;
   margin: 20px;
   margin-bottom: 100px;
   font-size: 18px;
   margin-right: 10%;
   margin-left: 10%;
}

.HowToPlayText {
   font-size: 18px;
}



.gameboard tr td {
   border-color: #785e4d;
   border-style: solid;
   border-width: 8px;
   font-family: Spectral;
   font-size: 400%;
   height: 200px;
   text-align: center;
   width: 200px;
}

.Percepts {
   display: flex;
   margin-top: 20px;
   align-items: flex-end;
}

.theWumpusLair {
   justify-content: center;
   margin-bottom: 20px;
}
