@charset "UTF-8";

/*
CS 3312, spring 2019
Studio 3
YOUR NAMES: Joshua Meek, Chad Fry
*/

/* Fixing the box-sizing attribute will make sizing boxes easier. */
html {
   box-sizing: border-box;
   background-color: rgb(255,250,245); /* Set page background color */
}

/* Normally the * selector is smart to avoid, but for this purpose it's fine. */
*, *:before, *:after {
   box-sizing: inherit;
}

/* Add your CSS rules below. */
/* Used a Chrome extension eye dropper to match CSS colors */

/* Style heading one (Lets get stylish) */
h1 {
   color: white;
   font-family: sans-serif;
   text-align: center;
   text-shadow: 1px 1px 30px rgb(0,0,0), 1px 1px 30px rgb(0,0,0), 1px 1px 30px rgb(0,0,0), 1px 1px 30px rgb(0,0,0);
}

/*Style the second heading (Lorem ipsum) accordingly*/
h2
{
  text-decoration: underline;
  font-family: sans-serif;
  font-style: italic;
}

/*put the first-two guys in a flexbox together*/
/*by selecting the 1st .across, which contains them both.*/
.across
{
   display: flex;
   align-items: flex-start;
   padding: 10px;
   justify-content: space-around;
}

.across > div {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   border-style: solid;
   border-radius:  20px 0px 20px 0px;
   margin: 10px;
   padding: 10px;
   border-width: thick;
   border-color:  rgb(42, 153, 218);
   box-shadow: -5px 5px 5px 1px rgb(17, 51, 17);
}

/*bottom is dark red top, top is dark blue, sides are green and they are going in*/
/*Stuff for the Lorem ipsum*/


/*Using the first across class, align the table centered with the lorem ipsum box*/
.across:nth-of-type(1)
{
   align-items: center;
}

/*Rules that effect the ENTIRE baseball table.*/
.baseball-stats
{
   border: 1px solid black;
   border-collapse: collapse; /*collapse the borders, we don't want lines*/
   font-family: sans-serif;
   text-align: center; /*Center the text to the middle of its box*/
}

/*select the home-run col*/
.baseball-stats tr :nth-child(5n)
{
   background-color: rgb(255,255,221);
}

/* Style the even rows of the baseball table.*/
.baseball-stats tr:nth-child(even) {
background-color: rgb(221, 255, 238);
}

/* Style the odd rows of the baseball table.*/
.baseball-stats tr:nth-child(odd) {
background-color: rgb(221, 238, 255);
}

/*Target the baseball table header */
.baseball-stats th
{
   background-color: rgb(255, 221, 238);
}

/*Style the paragraph with the class fancy*/
.fancy {
   /*box-shadow: 0 0 5px 10px rgb(52,65,79);*/
   padding: 15px;
}

/*Style the font for two of the bottom boxes with fantasy font*/
.across:nth-of-type(2) > div {
   font-family: fantasy;
}


/*Style the boxes around the text in the div in the first bottom div box*/
.across:nth-of-type(2) > div:nth-of-type(1) div {
   border-style: solid;
   border-color: rgb(255, 190, 238);
   margin: 6px;
   padding: 5px;
   box-shadow: -5px 5px 5px 1px rgb(17, 51, 17);
}

/*Style the boxes around the text in the div in the second bottom div box*/
.across:nth-of-type(2) > div:nth-of-type(2) div {
   border-style: solid;
   border-color: rgb(255, 190, 238);
   margin: 6px;
   padding: 5px;
   box-shadow: -5px 5px 5px 1px rgb(17, 51, 17);
}


/*Style the border around the text in the third bottom div box*/
.across:nth-of-type(2) > div:nth-of-type(3) fieldset {
   font-family: sans-serif;
   border-style: dashed;
   border-width: thick;
   border-color: green;
   margin: 6px;
   padding: 5px;
}

/*Style the border around the legend*/
.across:nth-of-type(2) > div:nth-of-type(3) fieldset > legend {
   border-style: solid;
   border-color: green;
}

/*Style the third div box on the bottom to change color when hovering*/
.across:nth-of-type(2) > div:nth-of-type(3) li:hover {
   background-color: rgb(255, 221, 238);
   padding-left: 3px;
}
